<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="noExplorers" value="2"/>
		<add key="activateCollaboration" value=""/>
		<add key="pathToSaveLogs" value="D:/disertatie/approach nou/Reactive/Reactive/Reactive/simulation.txt"/>
		<add key="repeat" value="true"/>
	</appSettings>
</configuration>
