<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="noExplorers" value="1"/>
		<add key="activateCollaboration" value="1 2 3 4 5"/>
		<add key="pathToSaveLogs" value="D:/disertatie/approach nou/Reactive/Reactive/Reactive/simulationDefects.txt"/>
		<add key="repeat" value="true"/>
		<add key="rounds" value="10"/>
		<add key="avgTimeToNewAirplane" value="140000"/>
	</appSettings>
</configuration>
